<!DOCTYPE html>
<html>

<head>
  {{> header}}
  <link rel="stylesheet" type="text/css" href="/public/css/blog.css">
  <title>Handlebars | {{title}}</title>
</head>

<body>
  {{> topNavbar}}
  <div class="content">
    <h1>{{title}}</h1>
    {{!-- <p>{{titles}}</p> --}}
    <ul class="flex between flex-wrap">
      {{#each tags}}
      <li class="tags">{{this.title}}</li>
      {{/each}}
    </ul>
    <h2 class="text-center">{{text}}</h2>
    {{#each tags}}
    <div>{{this.id}} - {{this.title}}</div>
    {{/each}}
  </div>
</body>
{{> footer}}

</html>